* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-family: 'Popins', sans-serif;

}

.menu a {
    text-decoration: none;
    color: #e74c3c;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0px 5px;

}

.menu a:last-child {
    color: white;
    background: #e74c3c;
    border-radius: 5px;
}

.menu a:hover {
    color: white;
    background: #e74c3c;
    border-radius: 5px;
    transition: 0.5s linear;
}


.line {
    position: absolute;
    top: 22%;
    left: 8%;
    z-index: 1;
    /* Ensure it's below other elements */
}


.box1 {
    width: 30px;
    height: 10px;
    background: #46fbf6;
    /* padding: 1px;
    margin: 26px;*/
}

.box2 {
    width: 62px;
    height: 3px;
    background: #46fbf6;
    /*  padding: 1px;
    margin: 25px;*/
}

.box3 {
    width: 100px;
    height: 2px;
    background: #46fbf6;
    /*padding: 1px;
    margin: 25px;*/
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    padding-bottom: 135px;
}

.left {
    flex-basis: 40%;
}

.left h1 {
    font-size: 4.5rem;
    margin-bottom: 40px;
}

.left button {
    background: #e74c3c;
    color: white;

    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: medium;
}

.right {
    flex-basis: 50%;
}

.right img {
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004)
}

.s-icon {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.s-icon img {
    width: 100px;
}